*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.laliga-js {
    width: 100%;
    height: 100%;
background: linear-gradient(
  to right,
  rgb(200, 0, 0),
  rgb(255, 80, 0),
  rgb(255, 170, 0)
);
}
.laliga-js .box{
    width: 450px;
    position: absolute;
    border-radius: 10px;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white
}
.box h1{
    font-size: 25px;
    font-weight: 600;
    color: #001e4d;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.box .quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    font-weight: 600;
    color: #001e4d;
}
.answers button{
    width: 100%;
    background: #fff;
    color: #222;
    font-weight: 500;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #222;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.box button:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;

}
.box .next{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    padding: 10px;
    border: 0;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    display: none;
}
.answers button.correct{
    background:rgb(74, 207, 74);
}
.answers button.incorrect{
    background: rgb(224, 47, 47);
}